{% extends 'layout.twig' %}

{% block main %}
  <div class="payment-inner">
    <h2>Wähle ein Bezahlmittel für deine Bestellung aus:</h1>
    <div>
      <input id="PayPal" type="radio" name="bezahlmittel">
      <label for="PayPal">PayPal</label>
    </div>
    <div>
      <input id="Rechnung" type="radio" name="bezahlmittel">
      <label for="Rechnung">Rechnung</label>
    </div>
    <div>
      <input id="Bankeinzug" type="radio" name="bezahlmittel">
      <label for="Bankeinzug">Bankeinzug</label>
    </div>
    <a href="/orderconfirmation">Bestellvorgang abschließen</a>
  </div>
{% endblock %}