{% extends 'layout.twig' %}

{% block main %}
  <div class="main__inner">
    <div class="info">
      <div class="info-content">
        <img src="img/Symbole_Startseite_Brunnen.png">
        <div>Erstelle eine <p>Schokolade</p> ganz nach<br>
             deinen <p>Wünschen</p> im<br>
          <p>Schoko-Wunschbrunnen!</p></div>
      </div>
      <a href="/wishing-well" class="info-button">Wünsch dir was !</a>
    </div>
    <div class="info">
      <div class="info-content">
        <div>Stöber durch unsere fertig<br>
             creierten <p>Schokoladen</p> im<br>
          <p>Schoko-Shop!</p></div>
        <img src="img/Symbole_Startseite_Einkaufskorb.png">
      </div>
      <a href="/shop" class="info-button">Shop dich glücklich !</a>
    </div>
  </div>
{% endblock %}
