{% extends 'layout.twig' %}

{% block main %}
  <div class="index-inner">
    <div class="info">
      <div class="info-content">
        <img src="img/Symbole_Startseite_Brunnen.png">
        <div>
          <span>Erstelle eine </span>
          <span>Schokolade</span>
          <span> ganz nach</span><br>
          <span>deinen </span>
          <span>Wünschen</span>
          <span> im</span><br>
          <span class="extra">Schokowunschbrunnen !</span></div>
      </div>
      <a href="/wishing-well" class="info-button">Wünsch dir was !</a>
    </div>
    <div class="info">
      <div class="info-content">
        <div>
          <span>Entdecke unsere fertigen</span><br>
          <span>Schokokreationen</span>
          <span> im</span><br>
          <span class="extra">Schokoshop !</span></div>
        <img src="img/Symbole_Startseite_Einkaufskorb.png">
      </div>
      <a href="/shop" class="info-button">Shop dich glücklich !</a>
    </div>
  </div>
{% endblock %}
