{% extends 'layout.twig' %}

{% block main %}
  <div class="payment-inner bestätigung">
    <h2>Deine Bestellung ist erfolgreich bei uns eingegangen!</h1>
    <h3>Deine Schokowünsche sind bald auf dem Weg zu dir!</h1>
    <a href="/">Zurück zur Startseite</a>
  </div>
{% endblock %}