{% extends 'layout.twig' %}

{% block main %}
  <div class="product-inner nr1">
    <div class="productdetail-images"></div>
    <div class="productdetail-details">
      <h2>Inhalte:</h2>
      <p>Weiße Schokolade in Rechtecksform mit Pistaziencreme und Oreo-Füllung. Oben drauf Erdbeeren als Topping.</p>
      <div class="productdetail-ingredients">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h2>Preis:</h2>
      <h3>5,95 €</h3>
      <a href="#">In den Warenkorb legen</a>
    </div>
  </div>
{% endblock %}