{% extends 'layout.twig' %}

{% block main %}
  <div class="product-inner nr1">
    <div class="productdetail-images">
      <input type="radio" name="AorB" id="A" checked="checked">
      <input type="radio" name="AorB" id="B">
      <label for="A"><</label>
      <label for="B">></label>
      <img src="{{ chocolates.imageA }}" class="A">
      <img src="{{ chocolates.imageB }}" class="B">
    </div>
    <div class="productdetail-details">
      <h2>Inhalte:</h2>
      <p>Weiße Schokolade in Rechtecksform mit Pistaziencreme und Oreo-Füllung. Oben drauf Erdbeeren als Topping.</p>
      <div class="productdetail-ingredients">
        <div class="category-icon shape-1"></div>
        <div class="category-icon variety-3"></div>
        <div class="category-icon cream-1"></div>
        <div class="category-icon stuffing-3"></div>
        <div class="category-icon topping-1"></div>
      </div>
      <h2>Preis:</h2>
      <h3>{{ chocolates.price }} €</h3>
      <a href="#">In den Warenkorb legen</a>
    </div>
  </div>
{% endblock %}