{% extends 'layout.twig' %}

{% block main %}
  <h1 class="shop-heading">Herzlich Willkommen im Schoko-Shop !</h1>
  <div class="shop-inner">
      {% for chocolate in chocolates %}
        <a class="product-view nr{{ chocolate._id }}" href="/shop/{{ chocolate._id }}">
          <div class="product-img">
            <img src="{{ chocolate.image }}">
          </div>
          <div class="product-ingredients">
            <div class="category-icon shape-1"></div>
            <div class="category-icon variety-3"></div>
            <div class="category-icon cream-1"></div>
            <div class="category-icon stuffing-3"></div>
            <div class="category-icon topping-1"></div>
          </div>
          <h3>{{ chocolate.price }} €</h3>
        </a>
      {% endfor %}
  </div>
{% endblock %}