{% extends 'layout.twig' %}

{% block main %}
  <h1 class="shop-heading">Herzlich Willkommen im Schoko-Shop !</h1>
  <div class="shop-inner">
      {% for key, user in users %}

        <a class="product-view nr1" href="/shop/1">
          <div class="product-img"></div>
          <div class="product-ingredients">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <h3>5,95 €</h3>
        </a>



      {% endfor %}

    <a class="product-view nr1" href="/shop/1">
      <div class="product-img"></div>
      <div class="product-ingredients">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h3>5,95 €</h3>
    </a>
    <a class="product-view nr2" href="/shop/2">
      <div class="product-img"></div>
      <div class="product-ingredients">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h3>7,35 €</h3>
    </a>
    <a class="product-view nr3" href="/shop/3">
      <div class="product-img"></div>
      <div class="product-ingredients">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h3>4,55 €</h3>
    </a>
    <a class="product-view nr4" href="/shop/4">
      <div class="product-img"></div>
      <div class="product-ingredients">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h3>6,75 €</h3>
    </a>
    <a class="product-view nr5" href="/shop/5">
      <div class="product-img"></div>
      <div class="product-ingredients">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h3>7,15 €</h3>
    </a>
    <a class="product-view nr6" href="/shop/6">
      <div class="product-img"></div>
      <div class="product-ingredients">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h3>5,55 €</h3>
    </a>
  </div>
{% endblock %}