{% extends 'layout.twig' %}

{% block main %}
  <div class="shop-inner">
    <a class="product-view" href="/shop/1">
      <div class="product-img"></div>
      <div class="product-ingredients">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h3>5,95 €</h3>
    </a>
    <a class="product-view" href="/shop/2">
      <div class="product-img"></div>
      <div class="product-ingredients">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h3>5,95 €</h3>
    </a>
    <a class="product-view" href="/shop/3">
      <div class="product-img"></div>
      <div class="product-ingredients">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h3>5,95 €</h3>
    </a>
  </div>
{% endblock %}