{% extends 'layout.twig' %}

{% block main %}
<div class="warenkorb-inner">
    <div class="warenkorb-all-products">
        <div class="warenkorb-product">
            <div class="warenkorb-product-img">
                <div class="shapeAndVariety shape2 variety1"></div>
                <div class="topping topping3"></div>
            </div>
            <div class="warenkorb-product-info">
                <h2>Deine eigene Schokokreation</h2>
                <div class="warenkorb-product-ingredients">
                    <div class="category-icon shape-2"></div>
                    <div class="category-icon variety-1"></div>
                    <div class="category-icon cream-2"></div>
                    <div class="category-icon stuffing-1"></div>
                    <div class="category-icon topping-3"></div>
                </div> 
                <h3>Preis: 6,75 €</h3>
            </div>
        </div>
        <div class="warenkorb-product">
            <div class="warenkorb-product-img">
                <img src="/img/schoko_shop_img/Kombi1_A.png"/>
            </div>
            <div class="warenkorb-product-info">
                <h2>Unsere fertige Schokokreation</h2>
                <div class="warenkorb-product-ingredients">
                    <div class="category-icon shape-1"></div>
                    <div class="category-icon variety-3"></div>
                    <div class="category-icon cream-1"></div>
                    <div class="category-icon stuffing-3"></div>
                    <div class="category-icon topping-1"></div>
                </div> 
                <h3>Preis: 4,55 €</h3>
            </div>
        </div>
    </div>
    <div class="warenkorb-overview">
        <h2>Bestellübersicht:</h2>
        <table>
            <tr>
                <td>Artikel:</td>
                <td>12,30 €</td>
            </tr>
            <tr>
                <td>Verpackung & Versand:</td>
                <td>4,90 €</td>
            </tr>
            <tr class="line">
                <td colspan="2"><hr></hr></td>
            </tr>
            <tr>
                <td>Gesamtbetrag:</td>
                <td>17,20 €</td>
            </tr>
        </table>
        <a href=# class="buy-button">Kaufen</a>
    </div>
</div>
{% endblock %}