{% extends 'layout.twig' %}

{% block main %}
    <div class=profil-inner>
        <h1>Mein Passwort ändern</h1>
        <form action="/user/profile/edit-password" method="post">
            <div class="input-wrapper">
                <label class="profil-data">Aktuelles Passwort</label>
                <input type="password" class="personal-data" name="oldpassword">
            </div>
            <div class="input-wrapper">
                <label class="profil-data">Neues Passwort</label>
                <input type="password" class="personal-data" name="password">
            </div>
            <div class="input-wrapper">
                <label class="profil-data">Neues Passwort wiederholen</label>
                <input type="password" class="personal-data" name="passwordrepeat">
            </div>
            <button type="submit" class="save-data">Passwort ändern</button>
            <a href="/user/profile" class="abort">Abbrechen</a>
        </form>
    </div>
{% endblock %}