{% extends 'layout.twig' %}

{% block main %}
    <div class=profil-inner>
        <h1>Meine Daten ändern</h1>
        <div class="input-wrapper">
            <label class="profil-data">Titel</label>
            <input type="text" class="personal-data">
        </div>
        <div class="input-wrapper">
            <label class="profil-data">Vorname</label>
            <input type="text" class="personal-data">
        </div>
        <div class="input-wrapper">
            <label class="profil-data">Nachname</label>
            <input type="text" class="personal-data">
        </div>
        <div class="input-wrapper">
            <label class="profil-data">E-Mail</label>
            <input type="email" class="personal-data">
        </div>
        <div class="input-wrapper">
            <label class="profil-data">Straße</label>
            <input type="text" class="personal-data">
        </div>
        <div class="input-wrapper">
            <label class="profil-data">PLZ</label>
            <input type="text" class="personal-data">
        </div>
        <div class="input-wrapper">
            <label class="profil-data">Stadt</label>
            <input type="text" class="personal-data">
        </div>
        <div class="input-wrapper">
            <label class="profil-data">Geburtsdatum</label>
            <input type="date" class="personal-data">
        </div>
        <h2>Mit deinem Passwort bestätigen:</h2>
        <input type="password" class="personal-data">
        <button type="submit" class="save-data">Daten speichern</button>
        <a href="/user/profile" class="abort">Abbrechen</a>
    </div>
{% endblock %}