@font-face { 
    font-family: 'IceValley'; 
    src:url('../fonts/ice_valley.ttf') format('truetype'),
        url('../fonts/ice_valley.otf') format('opentype');
}

@font-face {
    font-family: 'Trebuchet';
    src: url('../fonts/trebuc.ttf') format('truetype');
}

@font-face {
    font-family: 'Pintgram';
    src: url('../fonts/Pintgram-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Trebuchet';
    font-size: 14px;
    color: rgb(59,36,8);
    background-image: 
        repeating-linear-gradient(90deg,
                                rgb(255,240,225) 0%,rgb(255,240,225) 2%,
                                rgb(255,247,238) 2%,rgb(255,247,238) 4%, 
                                rgb(255,240,225) 4%);
}

/*** Header ***/

.header {
    width: 100%;
    height: 140px;
    background: rgb(145,225,225);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 51px;
    height: 100%;
}

.header__inner > ul {
    list-style: none;
    display: inline-block;
    width: 300px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header__inner > ul:last-of-type {
    flex-direction: row-reverse;
}

.header__inner > ul > li {
    display: inline-block;
    padding: 10px 0;
    border-radius: 5px;
    background-color: white;
}

.header__inner > .title {
    margin-bottom: 20px;
    width: 410px;
    height: 90px;
    text-decoration: none;
    background-image: url(../img/LOGO_FINAL_PNG_Zeichenfläche\ 1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header__button {
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(145,225,225);
}

.header__button:not(:first-of-type) {
    margin-left: 10px;
}

.loggedIn {
    display: none;
}

/*** Index ***/
.index-inner {
    display: flex;
    justify-content: space-between;
    margin: 40px 51px 0;
}

.info {
    display: inline-block;
    width: 506px;
    height: 300px;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    padding: 22px;
    border-radius: 10px;
}

.info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 76px);
}

.info-content > img {
    height: 100%;
    max-width: 160px;
}

.info-content > div {
    width: calc(100% - 160px);
    font-size: 18px;
    color: rgb(59,36,8);
}

.info-content > div > span {
    display: inline-block;
    margin: 0;
    font-family: 'IceValley';
    font-size: 28px;
}

.info-content > div > span.extra {
    color: rgb(145,225,225);
    font-size: 38px;
}

.info-button {
    display: inline-block;
    width: calc(100% - 20px);
    margin-top: 22px;
    padding: 14px 10px;
    background-color: rgb(145,225,225);
    font-family: 'IceValley';
    font-size: 26px;
    color: rgb(59,36,8);
    border-radius: 10px;
    text-decoration: none;
}

/*** Schokowunschbrunnen ***/

.wunschbrunnen-body {
    overflow: hidden;
}

.brunnen-section {
    position: relative;
    height: 100%;
    width: 100%;
}

.brunnen-section:first-of-type {
    height: calc(100% - 150px);
}

.ladestatus {
    position: absolute;
    height: 100%;
}

.schoko-balken {
    position: relative;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 51px;
    background: url('../img/schoko-streifen.jpg');
    background-size: cover;
}

.lade-balken {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 51px;
    background-color: rgba(255,240,225,0.8);
}

.brunnen-section:nth-of-type(1) .lade-balken{
    height: 100%;
}

.brunnen-section:nth-of-type(2) .lade-balken{
    height: 75%;
}

.brunnen-section:nth-of-type(3) .lade-balken{
    height: 50%;
}

.brunnen-section:nth-of-type(4) .lade-balken{
    height: 25%;
}

.brunnen-section:nth-of-type(5) .lade-balken{
    height: 0%;
}

.infobox {
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    background-color: white;
    padding: 22px;
    text-align: center;
}

.infotext > p {
    margin: 0;
    display: inline-block;
    font-family: 'IceValley';
    font-size: 24px;
}

.start-button {
    text-decoration: none;
    color: white;
    font-family: 'IceValley';
    font-size: 26px;
    background-color: rgb(59,36,8);
    display: inline-block;
    width: 200px;
}

.schoko-category {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    padding: 22px;
    text-align: center;
}

.animation {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    position: relative;
}

.animation > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 500px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.animation > div:last-of-type {
    z-index: 2;
}

.zusammenfassung {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    background-color: white;
    padding: 22px;
    text-align: center;
}

/*Seitenansicht*/
.side-view {
    background-image: url('../img/Tafelansicht_Seite_schoko-04.png');
    z-index: 0;
}

/*Draufsicht*/
.top-view {
    background-image: url('../img/Tafelansicht_oben_Schoko-03.png');
}

/*Form- und Sorte-Bild*/
.shapeAndVariety {
    background-image: url('../img/Tafelansicht_oben_Schoko-03.png');
}

/*Creme-Bild*/
#cream.cream0 {
    background-image: none; 
}
#cream.cream1 {
    background-image: url('../img/Tafelansicht_Seite_Creme-06.png');
}

/*Füllungs-Bild*/
#stuffing.stuffing0 {
    background-image: none;
}
#stuffing.stuffing2 {
    background-image: url('../img/Tafelansicht_Seite_Füllung-05.png');
}

/*Topping-Bild*/
#topping.topping0 {
    background-image: none;
}
#topping.topping1 {
    background-image: url('../img/Tafelansicht_oben_Topping-02.png');
}

.category > p {
    display: inline-block;
}

/*Icons der Kategorien*/
.category-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgb(255,240,225);
    border-radius: 5px;
}

.category input:checked + label > .category-icon {
    border: 5px solid rgb(145,225,225);
}

/*Form-Icons*/
.category-icon.shape-1 {
    background-image: url('../icons/shape/Rechteck.svg');
}
.category-icon.shape-2 {
    background-image: url('../icons/shape/Herz.svg');
}
.category-icon.shape-3 {
    background-image: url('../icons/shape/Kreis.svg');
}

/*Sorte-Icons*/
.category-icon.variety-1 {
    background-color: rgb(59,36,8);
}
.category-icon.variety-2 {
    background-color: rgb(127,79,44);
}
.category-icon.variety-3 {
    background-color: rgb(255,235,159);
}

/*Creme-Icons*/
.category-icon.cream-1 {
    background-image: url('../icons/cream/Pistazie.svg');
}
.category-icon.cream-2 {
    background-image: url('../icons/cream/Vanille.svg');
}
.category-icon.cream-3 {
    background-image: url('../icons/cream/Himbeere.svg');
}

/*Füllungs-Icons*/
.category-icon.stuffing-1 {
    background-image: url('../icons/stuffing/Blaubeere.svg');
}
.category-icon.stuffing-2 {
    background-image: url('../icons/stuffing/Haselnuss.svg');
}
.category-icon.stuffing-3 {
    background-image: url('../icons/stuffing/Oreo.svg');
}

/*Topping-Icons*/
.category-icon.topping-1 {
    background-image: url('../icons/topping/Erdbeere.svg');
}
.category-icon.topping-2 {
    background-image: url('../icons/topping/Schokolinsen.svg');
}
.category-icon.topping-3 {
    background-image: url('../icons/topping/Gold.svg');
}

/*** Schokoshop ***/

.shop-heading {
    margin: 20px auto 0;
    width: 600px;
    text-align: center;
    color: rgb(59,36,8);
    font-family: 'IceValley';
    font-size: 40px;
    font-weight: normal;
}

.shop-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    margin: 20px 51px 40px;
}

.product-view {
    width: calc((100% - 60px) / 3);
    height: 400px;
    margin-bottom: 30px;
    background-color: rgba(255,255,255,0.6); 
    border-radius: 10px;
    text-decoration: none;
}

.product-img {
    width: 100%;
    height: 295px;
    background-image: url("../img/topping.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-ingredients {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 44px);
    margin: 12px 22px 10px;
}

.product-ingredients > div {
    width: 50px;
    height: 50px;
    background-color: rgb(255,240,225);
    border-radius: 5px;
}

.product-view > h3 {
    text-align: center;
    color: rgb(59,36,8);
    font-family: 'Pintgram';
    font-size: 24px;
    margin: 0;
    letter-spacing: 2px;
}

/*Produkt Nr.1*/
.product-view.nr1 > .product-ingredients > div:nth-of-type(1) {
    background-image: url('../icons/shape/Rechteck.svg');
}
.product-view.nr1 > .product-ingredients > div:nth-of-type(2) {
    background-color: rgb(255,235,159); /*weiße Schokolade*/
}
.product-view.nr1 > .product-ingredients > div:nth-of-type(3) {
    background-image: url('../icons/cream/Pistazie.svg');
}
.product-view.nr1 > .product-ingredients > div:nth-of-type(4) {
    background-image: url('../icons/stuffing/Oreo.svg');
}
.product-view.nr1 > .product-ingredients > div:nth-of-type(5) {
    background-image: url('../icons/topping/Erdbeere.svg');
}

/*Produkt Nr. 2*/
.product-view.nr2 > .product-ingredients > div:nth-of-type(1) {
    background-image: url('../icons/shape/Rechteck.svg');
}
.product-view.nr2 > .product-ingredients > div:nth-of-type(2) {
    background-color: rgb(59,36,8); /*dunkle Schokolade*/
}
.product-view.nr2 > .product-ingredients > div:nth-of-type(3) {
    background-image: url('../icons/cream/Pistazie.svg');
}
.product-view.nr2 > .product-ingredients > div:nth-of-type(4) {
    background-image: url('../icons/stuffing/Blaubeere.svg');
}
.product-view.nr2 > .product-ingredients > div:nth-of-type(5) {
    background-image: url('../icons/topping/Gold.svg');
}

/*Produkt Nr. 3*/
.product-view.nr3 > .product-ingredients > div:nth-of-type(1) {
    background-image: url('../icons/shape/Rechteck.svg');
}
.product-view.nr3 > .product-ingredients > div:nth-of-type(2) {
    background-color: rgb(127,79,44); /*Vollmilchschokolade*/
}
.product-view.nr3 > .product-ingredients > div:nth-of-type(3) {
    background-image: url('../icons/cream/Himbeere.svg');
}
.product-view.nr3 > .product-ingredients > div:nth-of-type(4) {
    background-image: url('../icons/stuffing/Haselnuss.svg');
}
.product-view.nr3 > .product-ingredients > div:nth-of-type(5) {
    background-image: url('../icons/topping/Schokolinsen.svg');
}

/*Produkt Nr. 4*/
.product-view.nr4 > .product-ingredients > div:nth-of-type(1) {
    background-image: url('../icons/shape/Rechteck.svg');
}
.product-view.nr4 > .product-ingredients > div:nth-of-type(2) {
    background-color: rgb(59,36,8); /*dunkle Schokolade*/
}
.product-view.nr4 > .product-ingredients > div:nth-of-type(3) {
    background-image: url('../icons/cream/Vanille.svg');
}
.product-view.nr4 > .product-ingredients > div:nth-of-type(4) {
    background-image: url('../icons/stuffing/Blaubeere.svg');
}
.product-view.nr4 > .product-ingredients > div:nth-of-type(5) {
    background-image: url('../icons/topping/Erdbeere.svg');
}

/*Produkt Nr. 5*/
.product-view.nr5 > .product-ingredients > div:nth-of-type(1) {
    background-image: url('../icons/shape/Rechteck.svg');
}
.product-view.nr5 > .product-ingredients > div:nth-of-type(2) {
    background-color: rgb(255,235,159); /*weiße Schokolade*/
}
.product-view.nr5 > .product-ingredients > div:nth-of-type(3) {
    background-image: url('../icons/cream/Himbeere.svg');
}
.product-view.nr5 > .product-ingredients > div:nth-of-type(4) {
    background-image: url('../icons/stuffing/Haselnuss.svg');
}
.product-view.nr5 > .product-ingredients > div:nth-of-type(5) {
    background-image: url('../icons/topping/Gold.svg');
}

/*Produkt Nr. 6*/
.product-view.nr6 > .product-ingredients > div:nth-of-type(1) {
    background-image: url('../icons/shape/Rechteck.svg');
}
.product-view.nr6 > .product-ingredients > div:nth-of-type(2) {
    background-color: rgb(127,79,44); /*Vollmilchschokolade*/
}
.product-view.nr6 > .product-ingredients > div:nth-of-type(3) {
    background-image: url('../icons/cream/Vanille.svg');
}
.product-view.nr6 > .product-ingredients > div:nth-of-type(4) {
    background-image: url('../icons/stuffing/Oreo.svg');
}
.product-view.nr6 > .product-ingredients > div:nth-of-type(5) {
    background-image: url('../icons/topping/Schokolinsen.svg');
}

/*** Produktseite ***/

.product-inner {
    display: flex;
    justify-content: space-between;
    margin: 22px 51px;
}

.productdetail-images {
    width: 700px;
    height: 330px;
    background-image: url('../img/Tafelansicht_oben_Schoko-03.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.productdetail-details {
    margin-left: 51px;
    background: rgba(255,255,255,0.5);
    padding: 22px;
    border-radius: 10px;
}

.productdetail-ingredients {
    display: flex;
    justify-content: space-between;
    width: calc((50px * 5) + 40px);
}

.product-inner.nr1 .productdetail-ingredients > div {
    width: 50px;
    height: 50px;
    background-color: rgb(255,240,225);
    border-radius: 5px;
}

.product-inner.nr1 .productdetail-ingredients > div:nth-of-type(1) {
    background-image: url('../icons/shape/Rechteck.svg');
}

.product-inner.nr1 .productdetail-ingredients > div:nth-of-type(2) {
    background: rgb(255,235,159);
}

.product-inner.nr1 .productdetail-ingredients > div:nth-of-type(3) {
    background-image: url('../icons/cream/Pistazie.svg');
}

.product-inner.nr1 .productdetail-ingredients > div:nth-of-type(4) {
    background-image: url('../icons/stuffing/Oreo.svg');
}

.product-inner.nr1 .productdetail-ingredients > div:nth-of-type(5) {
    background-image: url('../icons/topping/Erdbeere.svg');
}

/*** Profil, Daten ändern, Passwort ändern ***/
.profil-inner {
    margin: 20px auto;
    padding: 22px;
    width: 500px;
    position: relative;
    background-color: rgba(255,255,255,0.5);
}

.profil-inner > h1 {
    margin: 0;
}

.edit {
    text-decoration: none;
    padding: 7px 12px;
    background-color: rgb(59,36,8);
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 22px;
    top: 22px;
}

.change-password {
    color: rgb(59,36,8);
}

.input-wrapper {
    margin: 15px 0;
}

.profil-data {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.personal-data {
    display: block;
    margin-left: 10px;
}

input.personal-data {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 5px;
    width: 200px;
    padding: 11px 25px 11px 10px;
}

.save-data, .abort {
    background: rgb(59,36,8);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 150px;
    margin-top: 20px;
    padding: 13px 20px 12px 20px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.save-data {
    font-family: 'Trebuchet';
    font-size: 14px;
    background-color: rgb(145,225,225);
}

/*** Warenkorb ***/
.warenkorb-inner {
    margin: 20px 51px;
    display: flex;
}

.warenkorb-all-products {
    flex-grow: 2;
    margin-right: 20px;
}

.warenkorb-product {
    height: 200px;
    display: flex;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    margin-bottom: 20px;
}

.warenkorb-product-info > h2 {
    font-family: 'IceValley';
    font-size: 28px;
    font-weight: normal;
}

.warenkorb-product-img {
    width: 350px;
    height: 100%;
    margin-right: 20px;
    background-image: url('../img/Tafelansicht_oben_Schoko-03.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.warenkorb-product-ingredients {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.warenkorb-product-ingredients > div {
    width: 50px;
    height: 50px;
    background-color: rgb(255,240,225);
    border-radius: 5px;
}

.warenkorb-product-ingredients > div:nth-of-type(1) {
    background-image: url('../icons/shape/Rechteck.svg');
}
.warenkorb-product-ingredients > div:nth-of-type(2) {
    background-color: rgb(59,36,8);
}
.warenkorb-product-ingredients > div:nth-of-type(3) {
    background-image: url('../icons/cream/Pistazie.svg');
}
.warenkorb-product-ingredients > div:nth-of-type(4) {
    background-image: url('../icons/stuffing/Haselnuss.svg');
}
.warenkorb-product-ingredients > div:nth-of-type(5) {
    background-image: url('../icons/topping/Erdbeere.svg');
}


.warenkorb-product:nth-of-type(2) .warenkorb-product-ingredients > div:nth-of-type(1) {
    background-image: url('../icons/shape/Rechteck.svg');
}
.warenkorb-product:nth-of-type(2) .warenkorb-product-ingredients > div:nth-of-type(2) {
    background-color: rgb(127,79,44);
}
.warenkorb-product:nth-of-type(2) .warenkorb-product-ingredients > div:nth-of-type(3) {
    background-image: url('../icons/cream/Himbeere.svg');
}
.warenkorb-product:nth-of-type(2) .warenkorb-product-ingredients > div:nth-of-type(4) {
    background-image: url('../icons/stuffing/Haselnuss.svg');
}
.warenkorb-product:nth-of-type(2) .warenkorb-product-ingredients > div:nth-of-type(5) {
    background-image: url('../icons/topping/Schokolinsen.svg');
}

.warenkorb-overview {
    position: relative;
    flex-grow: 1;
    padding: 0 20px;
    height: 300px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

.warenkorb-overview table {
    width: 100%
}

.warenkorb-overview tr > td:last-of-type {
    text-align: right;
    margin-left: -1px;
}

.warenkorb-overview tr:last-of-type {
    font-weight: bold;
    font-size: 16px;
}

.line hr {
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid rgb(59,36,8);
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buy-button {
    position: absolute;
    bottom: 20px;
    display: block;
    text-align: center;
    width: calc(100% - 40px);
    background-color: rgb(145,225,225);
    color: white;
    padding: 10px 0;
    font-family: 'IceValley';
    font-size: 28px;
    text-decoration: none;
    border-radius: 5px;
}

/*** Anmelden ***/

.useraction-inner {
    margin: 20px auto;
    padding: 22px;
    width: 500px;
    background-color: rgba(255,255,255,0.5);
}

.useraction-inner > h1, .useraction-inner > h2 {
    margin: 0;
}

.useraction-inner > h2 {
    margin-top: 30px;
}

.useraction-label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.useraction-input {
    display: block;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 5px;
    width: 100%;
    padding: 11px 25px 11px 10px;
}

.useraction-button {
    display: block;
    text-align: center;
    background-color: rgb(59,36,8);
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-family: 'Trebuchet';
    font-size: 14px;
}

.getregistered-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgb(145,225,225);
    color: rgb(59,36,8);
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}