<html>
    <head>
        <title>Schoko-Wunschbrunnen</title>
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" type="image/png" href="icons/favicon.png" />
    </head>
    <body>
        <header class="header">
            <div class="header__inner">
                <ul>
                    <li><a href="schoko-wunschbrunnen.html" class="header__button">Schoko-Wunschbrunnen</a></li>
                    <li><a href="schoko-shop.html" class="header__button">Schoko-Shop</a></li>
                </ul>
                <a href="index.html" class="title">
                    Schoko-Wunschbrunnen
                </a>
                <ul>
                    <li><a href="anmelden.html" class="header__button notLoggedIn">Anmelden</a></li>
                    <li><a href="#" class="header__button loggedIn">1</a></li>
                    <li><a href="#" class="header__button loggedIn">2</a></li>
                    <li><a href="#" class="header__button loggedIn">3</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="main__inner">
                <div class="info">
                    <div class="info-content">
                        <img src="img/Symbole_Startseite_Brunnen.png">
                        <div>Erstelle eine <p>Schokolade</p> ganz nach<br>
                            deinen <p>Wünschen</p> im<br>
                            <p>Schoko-Wunschbrunnen!</p></div>
                    </div>
                    <a href="schoko-wunschbrunnen.html" class="info-button">Wünsch dir was !</a>
                </div>
                <div class="info">
                    <div class="info-content">
                        <div>Stöber durch unsere fertig<br>
                            kreierten <p>Schokoladen</p> im<br>
                            <p>Schoko-Shop!</p></div>
                        <img src="img/Symbole_Startseite_Einkaufskorb.png">
                    </div>
                    <a href="schoko-shop.html" class="info-button">Shop dich glücklich !</a>
                </div>
            </div>
        </main>
    </body>
</html>