<html>
    <head>
        <title>Schoko-Wunschbrunnen</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header class="header">
            <div class="header__inner">
                <ul>
                    <li><a href="schoko-wunschbrunnen.html" class="header__button">Schoko-Wunschbrunnen</a></li>
                    <li><a href="schoko-shop.html" class="header__button">Schoko-Shop</a></li>
                </ul>
                <a href="index.html" class="title">
                    Schoko-Wunschbrunnen
                </a>
                <ul>
                    <li><a href="anmelden.html" class="header__button notLoggedIn">Anmelden</a></li>
                    <li><a href="#" class="header__button loggedIn">1</a></li>
                    <li><a href="#" class="header__button loggedIn">2</a></li>
                    <li><a href="#" class="header__button loggedIn">3</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="product-inner nr1">
                <div class="productdetail-images"></div>
                <div class="productdetail-details">
                    <h2>Inhalte:</h2>
                    <p>Weiße Schokolade in Rechtecksform mit Pistaziencreme und Oreo-Füllung. Oben drauf Erdbeeren als Topping.</p>
                    <div class="productdetail-ingredients">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h2>Preis:</h2>
                    <h3>5,95 €</h3>
                    <a href="#">In den Warenkorb legen</a>
                </div>
            </div>
        </main>
    </body>
</html>