<html>
    <head>
        <title>Schoko-Wunschbrunnen</title>
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" type="image/png" href="icons/favicon.png" />
    </head>
    <body>
        <header class="header">
            <div class="header__inner">
                <ul>
                    <li><a href="schoko-wunschbrunnen.html" class="header__button">Schoko-Wunschbrunnen</a></li>
                    <li><a href="schoko-shop.html" class="header__button">Schoko-Shop</a></li>
                </ul>
                <a href="index.html" class="title">
                    Schoko-Wunschbrunnen
                </a>
                <ul>
                    <li><a href="anmelden.html" class="header__button notLoggedIn">Anmelden</a></li>
                    <li><a href="#" class="header__button loggedIn">1</a></li>
                    <li><a href="#" class="header__button loggedIn">2</a></li>
                    <li><a href="#" class="header__button loggedIn">3</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class=profil-inner>
                <h1>Mein Passwort ändern</h1>
                <div class="input-wrapper">
                    <label class="profil-data">Aktuelles Passwort</label>
                    <input type="password" class="personal-data">
                </div>
                <div class="input-wrapper">
                    <label class="profil-data">Neues Passwort</label>
                    <input type="password" class="personal-data">
                </div>
                <div class="input-wrapper">
                    <label class="profil-data">Neues Passwort wiederholen</label>
                    <input type="password" class="personal-data">
                </div>
                <button type="submit" class="save-data">Passwort ändern</button>
                <a href=# class="abort">Abbrechen</a>
            </div>
            <!--
            <div class=profil-inner>
                <h1>Meine Daten</h1>
                <a href=# class="edit">Bearbeiten</a>
                <p>Hier kannst du deine Daten einsehen und ändern.</p>
                <div class="input-wrapper">
                    <label class="profil-data">Titel</label>
                    <span class="personal-data">Herr</span>
                </div>
                <div class="input-wrapper">
                    <label class="profil-data">Vorname</label>
                    <span class="personal-data">Max</span>
                </div>
                <div class="input-wrapper">
                    <label class="profil-data">Nachname</label>
                    <span class="personal-data">Mustermann</span>
                </div>
                <div class="input-wrapper">
                    <label class="profil-data">E-Mail</label>
                    <span class="personal-data">max.mustermann@email.de</span>
                </div>
                <div class="input-wrapper">
                    <label class="profil-data">Straße</label>
                    <span class="personal-data">Musterstraße 1</span>
                </div>
                <div class="input-wrapper">
                    <label class="profil-data">PLZ</label>
                    <span class="personal-data">01010</span>
                </div>
                <div class="input-wrapper">
                    <label class="profil-data">Stadt</label>
                    <span class="personal-data">Musterstadt</span>
                </div>
                <div class="input-wrapper">
                    <label class="profil-data">Geburtsdatum</label>
                    <span class="personal-data">01.01.1990</span>
                </div>
                <a href=# class="change-password">Passwort ändern</a>
            </div>
            -->
        </main>
    </body>
</html>